@import "tailwindcss";

@layer utilities {
    section.digitalClock {
        font-feature-settings: "palt";
    }

    .pomodoroImg {
        & svg {
            transform: scale(4);
        }
    }

    .recharts-wrapper {
        transform: translate(-50%, 0%);
    }

    .secClockHand {
        & li {
            transform: translateX(calc(100vw/2.8));
            background-color: #818181;
            mix-blend-mode: darken;
        }
    }

    @media screen and (min-width: 768px) {
        .secClockHand {
            & li {
                transform: translateX(13em);
            }
        }
    }
}